@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.aboutme-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 53px;
    position: unset;
    min-height: calc(100vh - 53px - 10px - 104px);
    height: 100%;
}
.title-about {
    color: #cc0033;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.about-section {
    width: 80%; 
    margin: 0 auto; 
}

.about-section p {
    text-align: left; 
    margin-bottom: 10px !important; 
}

.author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.author-links .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.author-links .social-links li {
    font-size: xx-large;
}

.author-links .social-links a {
    color: #ccd0d0; 
}

.author-links .social-links a:hover {
    color: #cc0033; 
}

.icon-about {
    margin-right: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.icon-about:active {
    transform: scale(1.2); /* Effetto di trasformazione al click */
}

.text-paragraph {
    text-align: center; /* Centra il testo */
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.text-paragraph p {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px; /* Imposta una larghezza massima per il paragrafo */
    margin: 0 auto; /* Centra il paragrafo orizzontalmente */
    padding: 0 20px; /* Aggiunge spazio ai lati per adattarsi al mobile */
}
  
.text-paragraph p a {
    color: #cc0033;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.text-paragraph p a:hover {
    color: #cc0033;
}
  
  /* Fai in modo che il paragrafo si adatti al mobile */
@media (max-width: 768px) {
    .text-paragraph p {
      font-size: 14px; /* Riduci la dimensione del carattere per i dispositivi mobili */
      max-width: 100%; /* Larghezza massima del paragrafo al 100% per adattarsi al mobile */
      padding: 0 10px; /* Riduci lo spazio ai lati per i dispositivi mobili */
    }
}