@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.aboutme-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: unset;
    height: 100%;
}
.title-about {
    color: #cc0033;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.about-section {
    width: 80%; 
    margin: 0 auto; 
}

.about-section p {
    text-align: left; 
    margin-bottom: 10px !important; 
}

.author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.author-links .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.author-links .social-links li {
    font-size: xx-large;
}

.author-links .social-links a {
    color: #ccd0d0; 
}

.author-links .social-links a:hover {
    color: #cc0033; 
}

.icon-about {
    margin-right: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.icon-about:active {
    transform: scale(1.2);
}

.text-paragraph {
    text-align: center;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.text-paragraph p {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin: 0 auto; 
    padding: 0 20px;
}
  
.text-paragraph p a {
    color: #cc0033;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.text-paragraph p a:hover {
    color: #cc0033;
}
  

@media (max-width: 768px) {
    .text-paragraph p {
      font-size: 14px; 
      max-width: 100%; 
      padding: 0 10px; 
    }
}