.home-app {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.content {
    height: calc(100vh - 53px); /* Altezza della viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-list {
    margin-top: 3em;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 720px;
    margin-bottom: 53px;
}

.list-title {
    font-family: 'Gotham';
    padding: 5px;    
    margin-bottom: 0.8em;
    color: #ccd0d0;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: space-between;
    display: flex;

    .notes-title {
        margin-top: 0.2em;
    }
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 0.1em solid #ccd0d0;
}
  
.note-info {
    flex: 1;
    font-family: 'Gotham';
}
.note-title-detail {
    text-decoration: underline;
}
.date-info {
    text-decoration: none !important;
}
  
.delete-button {
    color: #cc0000;
    border: none;
    padding: 7px 5px 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: unset;
    width: 2.5em;
    transition: transform 0.3s ease;
}
.delete-button:active {
    transform: scale(1.2); /* Effetto di trasformazione al click */
}
  
a:link { 
    text-decoration: none;
} 
a:visited { 
    text-decoration: none; 
    color: unset;
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
