.home-app {
    display: flex;
    justify-content: center; 
    height: 100vh;
    width: 100%;
}
  
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-list {
    margin-top: 3em;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 720px;
}

.list-title {
    font-family: 'Gotham';
    padding: 5px;    
    margin-bottom: 0.8em;
    color: #ccd0d0;
    font-size: 2.1rem;
    font-weight: bold;
    justify-content: space-between;
    display: flex;

    .notes-title {
        margin-top: 0.2em;
    }
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 0.1em solid #ccd0d0;
}
  
.note-info {
    flex: 1;
    font-family: 'Gotham';
}
  
.delete-button {
    color: #cc0000;
    border: none;
    padding: 7px 5px 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.8em;
    background-color: unset;
}
  
