/* Stile per il contenitore principale */
.container {
  display: flex;
  justify-content: center; /* Centrare orizzontalmente */
  align-items: center; /* Centrare verticalmente */
  height: 100vh; /* Altezza del 100% della viewport */
}

/* Stile per la card */
.note-card {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 720px;
}

.note-title-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.1rem;
  margin-bottom: 15px;
  font-family: 'Gotham';
  font-weight: bold;
  color: #cc0033;
}

.note-content-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Gotham';
  resize: vertical; 
  max-height: 70vh;
  min-height: 220px;
  overflow: hidden;
}