.container {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.note-card {
  margin-top: 3em;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 720px;
  height: auto; /* Imposta l'altezza su auto per consentire il ridimensionamento */
  overflow: visible; /* Assicurati che non ci sia overflow nascosto */
}

.note-title-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.1rem;
  margin-bottom: 15px;
  font-family: 'Gotham';
  font-weight: bold;
  color: #cc0033;
}

.note-content-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: 'Gotham';
  resize: none;
  margin-bottom: 53px;

  /* Personalizzazione della scrollbar */
  scrollbar-width: thin; /* Per i browser che supportano il CSS standard */
  scrollbar-color: #ccc transparent; /* Per i browser che supportano il CSS standard */

  /* Per i browser basati su WebKit (come Chrome/Safari) */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}

.note-actions{
  display: flex;
  justify-content: right;
  font-size: 25px;
  padding: 5px;
  border-bottom: solid;
  border-width: 1px;
  margin-bottom: 0.8em;
  border-color: #ccd0d0;
  .save-icon {
    color: #adafaf !important;
    margin-bottom: 0.1em;
  }
  .download-icon {
    margin-left: 0.4em;
    font-size: 23px;
    color: #adafaf !important;
    margin-bottom: 0.1em;
  }
}

.note-actions :hover {
  color: #287b28;
  cursor: pointer;

}