.container {
  display: flex;
  justify-content: center; 
  width: 100%;
  min-height: calc(100vh - 10px - 20px - 53px - 20px - 11px);
  height: 100%;
}

.note-card {
  margin-top: 10px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 720px;
}

.note-title-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.1rem;
  margin-bottom: 15px;
  font-family: 'Gotham';
  font-weight: bold;
  color: #cc0033;
}

.note-content-input {
  background-color: unset;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: 'Gotham';
  resize: none;
  margin-bottom: 5px;
}

.note-actions{
  display: flex;
  justify-content: right;
  padding: 5px;
  border-bottom: solid;
  border-width: 1px;
  margin-bottom: 0.8em;
  border-color: #ccd0d0;
}

.save-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #adafaf;
  margin-bottom: 0.1em;
  width: 1.5em;
  transition: transform 0.3s ease;
}

.save-button:hover,
.save-button:active {
  transform: scale(1.1);
}

/* Stile dell'icona */
.save-icon {
  color: #adafaf;
  width: 22px; /* Regola la dimensione dell'icona */
  height: 22px;
}

/* Stile cliccato */
.save-button.clicked .save-icon {
  color: #287b28;
}


.alert {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(40, 123, 40, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  animation: fadeInOut 2s ease forwards;}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
