body {
  overflow: hidden;
}
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 0.5em;
  font-size: 26px;
  color: #ccd0d0;
}

.icon:hover {
  color: #cc0033;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-bottom: 10px;
  font-family: 'Frutiger';
  font-size: 50px;
  .me {
    font-style: italic;
  }
}

.new-note-button {
  color: #ccd0d0;
  border: none;
  font-family: 'Gotham';
  font-size: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-note-button:hover {
  color: #cc0033;
}

.icon {
  margin-right: 5px;
}

.text {
  font-weight: bold;
}

footer {
  background-color: #ccd0d0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer nav ul li {
  display: inline-block;
  margin-right: 5px;
  min-width: 80px; /* Imposta la larghezza minima */
  font-weight: 300;
  font-size: 15px;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.footer-item {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.footer-item:hover {
  color: #ff0043;
}
