body {
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
  /* Personalizzazione della scrollbar */
  scrollbar-width: thin; /* Per i browser che supportano il CSS standard */
  scrollbar-color: #ccc transparent; /* Per i browser che supportano il CSS standard */

  /* Per i browser basati su WebKit (come Chrome/Safari) */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}
.App {
  height: calc(100vh - 42px);
  display: flex;
  justify-content: center;
}

.sticky-header {
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 0.5em;
  margin-right: 5px;
  font-size: 26px;
  color: #ccd0d0;
}

.icon:hover,
.icon.touch-active {
  color: #cc0033;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  margin-bottom: 10px;
  font-family: 'Frutiger';
  font-size: 50px;
  .me {
    font-style: italic;
  }
}

.new-note-button {
  color: #ccd0d0;
  border: none;
  font-family: 'Gotham';
  font-size: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-note-button:hover,
.new-note-button:active,
.new-note-button:focus,
.new-note-button.touch-active {
  color: #cc0033;
}


.text {
  font-weight: bold;
}

footer {
  background-color: #ccd0d0;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
}

footer nav ul li {
  display: inline-block;
  margin-right: 5px;
  min-width: 80px; 
  font-weight: 300;
  font-size: 15px;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.footer-item {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.footer-item:hover {
  color: #cc0033;
}

.mobile-warning {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
}